<div id="container">

  <div id="newProjectButtonContainer"> <a mat-stroked-button routerLink="/project/new">New project</a> </div>

  <mat-card class="projects-card">

    <mat-card-header> <mat-card-title>My projects</mat-card-title> </mat-card-header>

    <mat-card-content>

      <table mat-table [dataSource]="projects" class="mat-elevation-z8">

          <ng-container matColumnDef="dateAdded">

            <th *matHeaderCellDef> Date </th>
            <td *matCellDef="let project"> {{project.dateAdded | date:'yyyy/MM/dd' }} </td>

          </ng-container>      

          <ng-container matColumnDef="title">

            <th *matHeaderCellDef> Title </th>
            <td *matCellDef="let project"> {{project.title}} </td>

          </ng-container>
        
          <ng-container matColumnDef="username">

            <th *matHeaderCellDef> User </th>
            <td *matCellDef="let project"> {{project.userId.username}} </td>

          </ng-container>

          <ng-container matColumnDef="totalAmount">

            <th *matHeaderCellDef> Amount </th>
            <td *matCellDef="let project"> {{project.totalAmount}} €</td>

          </ng-container>

          
          <ng-container matColumnDef="actions">

            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let project">
              <!-- <button mat-icon-button color="primary" (click)="editProjectDetail(project.projectId); $event.stopPropagation()"> <mat-icon>edit</mat-icon> </button> -->
              <button mat-icon-button color="warn" (click)="openDeleteDialog(project.projectId); $event.stopPropagation()"> <mat-icon>delete</mat-icon> </button>
            </td>
      
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetailForm(row)"></tr>

        </table>

      </mat-card-content>

    </mat-card>

</div>