#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.user-details-card {
    margin-top: 100px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 45%;
}

h1,
h2 {
    margin: 40px auto;
    font-size: 22px;
}

mat-card-content {
    display: flex;
    margin: 30px auto;
    width: 100%;
}

p {
    font-size: 16px;
}

mat-card-content .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

button {
    font-size: 18px;
}