#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2 {
    margin: 40px auto;
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 20%;
    border: 1px solid rgb(47, 55, 77);
    border-radius: 3px;
    margin: 20px;
    min-width: 400px;
    background-color: white;
}

form h1 {
    margin: 40px auto;
}

mat-form-field {
    padding: 10px;
    width: 85%;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

form button {
    width: 10%;
    margin: 30px auto;
}

form button.submit {
    background-color: #1a1919;
}

form button:hover {
    background-color: rgb(47, 55, 77);
}