<div id="container">

  <!-- Top projects -->

  <mat-card class="projects-card">

    <h1>Top projects</h1>

    <mat-card-content>

      <table mat-table [dataSource]="projects" class="mat-elevation-z8">

        <ng-container matColumnDef="dateAdded">

            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let project">{{ project.dateAdded | date:'yyyy/MM/dd' }}</td>

        </ng-container>

        <ng-container matColumnDef="title">

            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let project" (click)="openProjectDetails(project)" class="details-link">{{ project.title }}</td>

        </ng-container>

        <ng-container matColumnDef="username">

            <th mat-header-cell *matHeaderCellDef>User</th>
              <td mat-cell *matCellDef="let project" (click)="openUserDetails(project.userId)" class="details-link">{{ project.userId.username }}</td>

        </ng-container>

        <ng-container matColumnDef="totalAmount">

            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let project">{{ project.totalAmount }} €</td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedProjectsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedProjectsColumns;"></tr>

    </table>

      </mat-card-content>

    </mat-card>

    <!-- Top donations -->

  <mat-card class="donations-card">

    <h1>Top donations</h1>

    <mat-card-content>

      <table mat-table [dataSource]="donations" class="mat-elevation-z8">

          <ng-container matColumnDef="dateAdded">

            <th *matHeaderCellDef> Date </th>
            <td *matCellDef="let donation"> {{donation.dateAdded | date:'yyyy/MM/dd' }} </td>

          </ng-container>     

          <ng-container matColumnDef="username">

              <th *matHeaderCellDef> User </th>
              <td *matCellDef="let donation" (click)="openUserDetails(donation.userId)" class="details-link"> {{donation.userId.username}} </td>

          </ng-container>

          <ng-container matColumnDef="title">

            <th *matHeaderCellDef> Project </th>
            <td *matCellDef="let donation" (click)="openProjectDetails(donation.projectId)" class="details-link"> {{donation.projectId.title}} </td>

          </ng-container>

          <ng-container matColumnDef="amount">

            <th *matHeaderCellDef> Amount </th>
            <td *matCellDef="let donation"> {{donation.amount}} €</td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedDonationsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDonationsColumns;"></tr>

      </table>

    </mat-card-content>

  </mat-card>

</div>