#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.user-details-card {
    margin-top: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 45%;
}

.projects-card {
    margin: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 45%;
}

.donations-card {
    margin-bottom: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 45%;
}

h1,
h2 {
    margin: 40px auto;
    font-size: 22px;
}

mat-card-content {
    display: flex;
    margin: 30px auto;
    width: 100%;
}

p {
    font-size: 16px;
}

mat-card-content .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

table {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 3%;
    background-color: #fff;
}

table th {
    font-size: 18px;
    background-color: #1a1919;
    color: #fff;
    padding: 12px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.details-link {
    color: #0074d9;
    text-decoration: none;
}

.details-link:visited {
    color: #7a7a7a;
}

.no-donations-message,
.no-projects-message {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}