#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1,
h2 {
    margin: 40px auto;
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 20%;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 150px 0;
    min-width: 400px;
}

form h1 {
    margin: 40px auto;
}

mat-form-field {
    padding: 10px;
}

form button {
    width: 10%;
    margin: 30px auto;
}

form button:hover {
    background-color: rgb(47, 55, 77);
}