.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(16, 17, 16);
}

.nav-menu {
    display: flex;
    width: 45%;
    justify-content: center;
    list-style: none;
}

.nav-menu li {
    margin: 20px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(247, 247, 197);
}