.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #1a1919;
}

.nav-menu {
    display: flex;
    width: 45%;
    justify-content: center;
    list-style: none;
}

.nav-menu li {
    margin: 20px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(224, 230, 245);
}

mat-icon {
    font-size: 26px;
}