<div id="container">

  <mat-card class="donations-card">

    <h1>Donations</h1>

    <mat-card-content>

        <table mat-table [dataSource]="donations" class="mat-elevation-z8">

            <ng-container matColumnDef="dateAdded">
    
                <th *matHeaderCellDef> Date </th>
                <td *matCellDef="let donation"> {{donation.dateAdded | date:'yyyy/MM/dd' }} </td>
    
            </ng-container>     

            <ng-container matColumnDef="username">

              <th *matHeaderCellDef> User </th>
              <td *matCellDef="let donation" (click)="openUserDetails(donation.userId)" class="details-link"> {{donation.userId.username}} </td>

          </ng-container>

          <ng-container matColumnDef="title">

            <th *matHeaderCellDef> Project </th>
            <td *matCellDef="let donation" (click)="openProjectDetails(donation.projectId)" class="details-link"> {{donation.projectId.title}} </td>

          </ng-container>
    
            <ng-container matColumnDef="amount">
    
                <th *matHeaderCellDef> Amount </th>
                <td *matCellDef="let donation"> {{donation.amount}} €</td>
    
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>

    </mat-card-content>

  </mat-card>

</div>