#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-details-card {
    width: 45%;
    margin-top: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

mat-card-title {
    margin: 25px auto;
}

mat-card-content {
    display: flex;
    margin: 30px auto;
    width: 100%;
}

mat-card-content .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

