<div id="container">

    <mat-card class="project-details-card">

      <mat-card-header> <mat-card-title>Project Details</mat-card-title> </mat-card-header>

      <mat-card-content>

            <p> <strong>Date </strong></p>
            <p>{{ project.dateAdded | date:'yyyy/MM/dd'}} </p>

            <p> <strong>Area </strong></p>
            <p>{{ project.areaId.name }} </p>

            <p><strong>User </strong></p> 
            <p>{{ project.userId.name }} </p>

            <p> <strong>Title</strong></p>
            <p> {{ project.title }} </p>

            <p> <strong>Description </strong></p>
            <p>{{ project.description }} </p>
            
            <p> <strong>Total amount </strong></p>
            <p>{{project.totalAmount }} </p>
            
        </mat-card-content>

        <!-- 
        <mat-card-actions align="end">

            <button mat-raised-button type="button" (click)="editProject()"><mat-icon>edit</mat-icon></button>
            <button mat-raised-button type="button" (click)="closeProject()"><mat-icon>close</mat-icon></button>
            <button mat-raised-button color="warn" type="button" (click)="openDeleteDialog(project.id)"><mat-icon>delete</mat-icon></button>

        </mat-card-actions>
        -->

    </mat-card>

    <!-- Donations -->

    <mat-card class="donations-card">

        <mat-card-header> <mat-card-title>Donations</mat-card-title> </mat-card-header>

        <mat-card-content>

            <table mat-table [dataSource]="donations" class="mat-elevation-z8">

                <ng-container matColumnDef="dateAdded">
        
                    <th *matHeaderCellDef> Date </th>
                    <td *matCellDef="let donation"> {{donation.dateAdded | date:'yyyy/MM/dd' }} </td>
        
                </ng-container>     
        
                <ng-container matColumnDef="username">
        
                    <th *matHeaderCellDef> User </th>
                    <td *matCellDef="let donation"> {{donation.userId.username}} </td>
        
                </ng-container>
        
                <ng-container matColumnDef="amount">
        
                    <th *matHeaderCellDef> Amount </th>
                    <td *matCellDef="let donation"> {{donation.amount}} €</td>
        
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            </table>

        </mat-card-content>

    </mat-card>

    <!-- Comments -->

    <mat-card class="comments-card">

        <mat-card-header> <mat-card-title>Comments</mat-card-title> </mat-card-header>

        <mat-card-content>

            <div *ngFor="let comment of comments">

                <mat-card class="comment-card">

                    <div class="comment-title">

                        <p> {{ comment.dateAdded | date:'yyyy/MM/dd' }}</p>
                        <p> {{ comment.userId.username }}</p>
                        
                    </div>

                    <mat-card-content class="comment">

                        <p> {{comment.content }} </p>

                    </mat-card-content>

                </mat-card>

            </div>

        </mat-card-content>

    </mat-card>

</div>