#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-details-card,
.donations-card,
.comments-card {
    width: 45%;
    margin-top: 30px;
    padding: 40px;
}

/* Estilos adicionales para las tarjetas de Angular Material */

mat-card-header {
    align-items: center;
}

mat-card-header, 
mat-card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

mat-card-title {
    margin: 25px auto;
}

.project-details-card mat-card-content p {
    margin: 10px auto;
}

.comment-card {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    width: 85%;

}

/* Estilos para la tabla de donaciones */
table {
    width: 85%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0e0e0;
}

tr:nth-child(even) {
    background-color: #fafafa;
}
  