.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-details-card,
.donations-card,
.comments-card {
    width: 80%;
    max-width: 800px;
    margin-top: 30px;
}

/* Estilos adicionales para las tarjetas de Angular Material */
mat-card-header, mat-card-content {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card-title, mat-card-content p {
    margin: 20px auto;
}

/* Estilos para la tabla de donaciones */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0e0e0;
}

tr:nth-child(even) {
    background-color: #fafafa;
}
  