<div id="container">

    <h1>Project details</h1>

    <mat-card class="card">

        <mat-card-content class="card-content">

            <p> <strong>Date </strong></p>
            <p>{{ project.dateAdded | date:'yyyy/MM/dd'}} </p>

            <p> <strong>Area </strong></p>
            <p>{{ project.areaId.name }} </p>

            <p><strong>User </strong></p> 
            <p>{{ project.userId.name }} </p>

            <p> <strong>Title</strong></p>
            <p> {{ project.title }} </p>

            <p> <strong>Description </strong></p>
            <p>{{ project.description }} </p>
            
            <p> <strong>Total amount </strong></p>
            <p>{{project.totalAmount }} </p>
            
        </mat-card-content>

        <!-- 
        <mat-card-actions align="end">

            <button mat-raised-button type="button" (click)="editProject()"><mat-icon>edit</mat-icon></button>
            <button mat-raised-button type="button" (click)="closeProject()"><mat-icon>close</mat-icon></button>
            <button mat-raised-button color="warn" type="button" (click)="openDeleteDialog(project.id)"><mat-icon>delete</mat-icon></button>

        </mat-card-actions>
        -->

    </mat-card>

    <h2>Donaciones</h2>
    <ul>
      <li *ngFor="let donation of donations">
        <p>Date</p>
        <p> {{ donation.dateAdded }}</p>
        <p>User</p>
        <p> {{donation.userId.username }} </p>
        <p>Project</p>
        <p> {{donation.projectId.title }} </p>
        <p>Amount</p>
        <p> {{ donation.amount }}</p>
      </li>
    </ul>

    <h2>Comentarios</h2>
    <ul>
      <li *ngFor="let comment of comments">
        <p>User</p>
        <p> {{ comment.userId.username }}</p>
        <p>Date</p>
        <p> {{ comment.dateAdded }}</p>
        <p>Content</p>
        <p> {{comment.content }} </p>
      </li>
    </ul>

</div>