<div id="container">

  <!-- Top projects -->

  <mat-card class="projects-card">

    <mat-card-header> <mat-card-title>Top projects</mat-card-title> </mat-card-header>

    <mat-card-content>

      <table mat-table [dataSource]="projects" class="mat-elevation-z8">

          <ng-container matColumnDef="dateAdded">

            <th *matHeaderCellDef> Date </th>
            <td *matCellDef="let project"> {{project.dateAdded | date:'yyyy/MM/dd' }} </td>

          </ng-container>    

          <ng-container matColumnDef="title">

            <th *matHeaderCellDef> Project </th>
            <td *matCellDef="let project"> {{project.title}} </td>

          </ng-container>

          <ng-container matColumnDef="username">

            <th *matHeaderCellDef> User </th>
            <td *matCellDef="let project"> {{project.userId.username}} </td>

          </ng-container>

          <ng-container matColumnDef="totalAmount">

            <th *matHeaderCellDef> Amount </th>
            <td *matCellDef="let project"> {{project.totalAmount}} €</td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedProjectsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedProjectsColumns;" (click)="openDetailProjectsForm(row)"></tr>
        
        </table>

      </mat-card-content>

    </mat-card>

    <!-- Top donations -->

  <mat-card class="donations-card">

    <mat-card-header> <mat-card-title>Top donations</mat-card-title> </mat-card-header>

    <mat-card-content>

      <table mat-table [dataSource]="donations" class="mat-elevation-z8">

          <ng-container matColumnDef="dateAdded">

            <th *matHeaderCellDef> Date </th>
            <td *matCellDef="let donation"> {{donation.dateAdded | date:'yyyy/MM/dd' }} </td>

          </ng-container>     

          <ng-container matColumnDef="username">

              <th *matHeaderCellDef> User </th>
              <td *matCellDef="let donation"> {{donation.userId.username}} </td>

          </ng-container>

          <ng-container matColumnDef="title">

            <th *matHeaderCellDef> Project </th>
            <td *matCellDef="let donation"> {{donation.projectId.title}} </td>

          </ng-container>

          <ng-container matColumnDef="amount">

            <th *matHeaderCellDef> Amount </th>
            <td *matCellDef="let donation"> {{donation.amount}} €</td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedDonationsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDonationsColumns;"></tr>

      </table>

    </mat-card-content>

  </mat-card>

</div>