<div id="container">

    <mat-card class="project-details-card">

      <h1>{{ project.title }}</h1>

      <mat-card-content>

            <div class="intro">


                <p><strong>{{ project.dateAdded | date:'yyyy/MM/dd'}}</strong></p>

                <p><strong>{{ project.areaId.name }}</strong></p>

                <p><strong>{{ project.userId.name }}</strong></p>

            </div>

            <div class="content">

                <p>{{ project.description }} </p>
                
            </div>

            <div class="amount">

                <p><strong>Total amount </strong>
                <p> {{project.totalAmount }} €</p>
                
            </div>

            <div id="buttonsContainer">
            
                <a mat-stroked-button routerLink="/project/donate/{{ project.projectId }}"><mat-icon>payment</mat-icon></a>
                <a mat-stroked-button routerLink="/project/comment/{{ project.projectId }}"><mat-icon>comment</mat-icon></a>
            </div>
            
        </mat-card-content>

    </mat-card>

    <!-- Donations -->

    <mat-card class="donations-card">
        <h2>Donations</h2>
        <mat-card-content>
            <div class="table-wrapper">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Date Added</th>
                            <th>User</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let donation of donations">
                            <td>{{ donation.dateAdded | date:'yyyy/MM/dd' }}</td>
                            <td>{{ donation.userId.username }}</td>
                            <td>{{ donation.amount }} €</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
    

    <!-- Comments -->

    <mat-card class="comments-card">
        <h2>Comments</h2>
        <mat-card-content>
            <div class="comments-wrapper">
                <div *ngFor="let comment of comments" class="comment-wrapper">
                    <div class="comment-card">
                        <div class="comment-header">
                            <p class="comment-date">{{ comment.dateAdded | date:'yyyy/MM/dd' }}</p>
                            <p class="comment-username">{{ comment.userId.username }}</p>
                        </div>
                        <div class="comment-content">
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>